:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-grey-color: #f5f4fa;
  --background-spaygrey-color: #2f303a;
  --icon-grey-color: #afb1b8;
}

.visual-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__title {
  color: var(--accent-color);
}

.page-header {
  position: relative;
  padding: 16px 0px;
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding: 24px 0px;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}

.page-header__logo {
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    column-gap: 50px;
  }
}

.site-nave__link {
  display: block;
  position: relative;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.site-nave__link:hover, .site-nave__link:focus {
  color: var(--accent-color);
}

.site-nave__link-active {
  color: var(--accent-color);
}
.site-nave__link-active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: translateY(30px);
}
@media screen and (min-width: 1200px) {
  .site-nave__link-active::after {
    transform: translateY(32px);
  }
}

@media screen and (max-width: 767px) {
  .page-header__button_open {
    top: 20px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  .page-header__button_open:hover, .page-header__button_open:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .page-header__button_open {
    display: none;
  }
}

.site-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-contacts {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .site-contacts {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.site-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: all 0.2s ease-out;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .site-contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .site-contacts__link {
    line-height: 1.1;
  }
}
.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-color);
}

.site-contacts__icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
  transition: all 0.2s ease-out;
}

.modal-button {
  min-height: 50px;
  min-width: 200px;
  padding: 10px 15px;
  color: var(--primary-white-color);
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
  border-radius: 4px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--background-spaygrey-color);
}

.footer .container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: space-evenly;
    display: flex;
    align-items: baseline;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.footer-adress {
  margin-bottom: 60px;
}

.footer-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress__map {
  display: block;
  margin-bottom: 9px;
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.footer-adress__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.footer-adress__link:hover, .footer-adress__link:focus {
  color: var(--accent-color);
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-social {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social__title {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: flex;
  text-decoration: none;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.2s ease-out;
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .form-container__footer {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form-field {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.form-field__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: all 0.2s ease-out;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 479px) {
  .form-field__input {
    width: calc(100vw - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .form-field__input {
    width: 358px;
  }
}
.form-field__input:hover, .form-field__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.form-field__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.modal-button__icon {
  vertical-align: middle;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: auto;
    padding: 48px 40px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.2s ease-out;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

@media screen and (max-width: 767px) {
  .mobile-button__icon--close {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  .mobile-button__icon--close:hover, .mobile-button__icon--close:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu__list_nav {
  margin-bottom: 302px;
}

.mobile-menu__item_nav:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link_nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: all 0.2s ease-out;
}
.mobile-menu__link_nav:hover, .mobile-menu__link_nav:focus {
  color: var(--accent-color);
}

.mobile-menu__link_nav--active {
  color: var(--accent-color);
}

.mobile-menu__list_contacts {
  margin-bottom: 64px;
}

.mobile-menu__item_contacts:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link_contacts--phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: all 0.2s ease-out;
}
.mobile-menu__link_contacts--phone:hover, .mobile-menu__link_contacts--phone:focus {
  background-color: #188ce8;
}

.mobile-menu__link_contacts--mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: all 0.2s ease-out;
}
.mobile-menu__link_contacts--mail:hover, .mobile-menu__link_contacts--mail:focus {
  color: var(--accent-color);
}

.mobile-menu__list_soc {
  display: flex;
}

.mobile-menu__item_soc:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-menu__item_soc:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__link_soc {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: all 0.2s ease-out;
}
.mobile-menu__link_soc:hover, .mobile-menu__link_soc:focus {
  background-color: #188ce8;
}

.section-hero {
  max-width: 1920px;
  max-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/bagraund-sm.jpg");
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/bagraund-sm@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/bagraund-md.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/bagraund-md@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desctop/bagraund-lg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desctop/bagraund-lg@2x.jpg");
  }
}

.section-hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .section-hero__container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section-hero__container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero__container {
    width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section-hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 25px;
  line-height: 1.65;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .section-hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  overflow: auto;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 580px;
  }
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.button-close:hover, .button-close:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
}

.form-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 370px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .form-modal {
    width: 450px;
  }
}

.form-modal__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: start;
  color: var(--title-text-color);
}

.form-modal__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.form-modal__input:focus, .form-modal__input:hover {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .form-modal__input {
    width: calc(100vw - 80px);
  }
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: all 0.2s ease-out;
}
.form-modal__input:focus ~ .form-modal__icon, .form-modal__input:hover ~ .form-modal__icon {
  fill: var(--accent-color);
}

.form-modal__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.form-modal__textarea:hover, .form-modal__textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
.form-modal__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (max-width: 479px) {
  .form-modal__textarea {
    width: calc(100vw - 80px);
  }
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 425px;
}

.modal-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-right: 7px;
}

.modal-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
}
.modal-checkbox__input:checked + .modal-checkbox__icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/vector.svg");
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  transition: all 0.2s ease-out;
}

.modal-checkbox__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-right: 2px;
  color: var(--title-text-color);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__text {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-checkbox__link {
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal-checkbox__link {
    font-size: 14px;
    line-height: 1.7;
  }
}

.section-peculiarities {
  padding-bottom: 47px;
}

.section-peculiarities__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .section-peculiarities__item {
    width: calc((100% - 60px) / 2);
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-peculiarities__item {
    width: calc((100% - 90px) / 4);
    justify-content: center;
    align-items: center;
  }
}

.section-peculiarities__icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-grey-color);
}

.section-peculiarities__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.section-peculiarities__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  line-height: 1.71;
}

.section-work {
  padding-top: 47px;
}
@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.work {
  display: flex;
  gap: 30px;
}

.work-action {
  position: relative;
}
.work-action::before {
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-action__text {
  position: absolute;
  width: 205px;
  height: 16px;
  left: 50%;
  top: 251px;
  transform: translate(-50%, 0);
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--background-grey-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1200px) {
  .team__item {
    max-width: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__name {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__job {
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.team__link {
  display: inline-flex;
  text-decoration: none;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  fill: var(--icon-grey-color);
  transition: all 0.2s ease-out;
  border-radius: 50%;
}
.team__link:not(:last-child) {
  margin-right: 10px;
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  border-radius: 50%;
  border: 0;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  border: none;
}

.clients__list {
  width: calc((100% - 30px) / 2);
  height: 92px;
  border: 0;
}
@media screen and (min-width: 768px) {
  .clients__list {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    width: 170px;
  }
}

.clients__link {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-grey-color);
  border-radius: 4px;
  fill: var(--icon-grey-color);
  transition: all 0.2s ease-out;
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}/*# sourceMappingURL=main.css.map */